<nav>
        <a href="/" class="logo">MinhaLogo</a>
        <div class="nav-buttons">
            <a href="/feed_videos" class="btn btn-login">Videos</a>
            <a href="/lista_usuarios" class="btn btn-login">Usuarios</a>
            <a href="/cadastroVideos" class="btn btn-signup">Cadastrar videos</a>
            <a href="/cadastroAdm" class="btn btn-signup">Adcionar Administrador</a>
            <a href="#"  id="btnLogout"  class="btn btn-signup">Sair</a>
            <a href="/" class="btn btn-signup">Redefinir senhas</a>

        </div>
    </nav>